[submodule "loginpage/vendor/graham-campbell/result-type"]
    path = loginpage/vendor/graham-campbell/result-type
    url = https://github.com/GrahamCampbell/Result-Type.git

[submodule "loginpage/vendor/symfony/polyfill-ctype"]
    path = loginpage/vendor/symfony/polyfill-ctype
    url = https://github.com/symfony/polyfill-ctype.git

[submodule "loginpage/vendor/symfony/polyfill-mbstring"]
    path = loginpage/vendor/symfony/polyfill-mbstring
    url = https://github.com/symfony/polyfill-mbstring.git

[submodule "loginpage/vendor/symfony/polyfill-php80"]
    path = loginpage/vendor/symfony/polyfill-php80
    url = https://github.com/symfony/polyfill-php80.git

[submodule "loginpage/vendor/vlucas/phpdotenv"]
    path = loginpage/vendor/vlucas/phpdotenv
    url = https://github.com/vlucas/phpdotenv.git
