body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(52, 243, 243);
}

.container {
    width: 40%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(52, 243, 243);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(186, 186, 186);
}

img {
    width: 150px;
    height: 160px;
    margin-bottom: 20px;
}

input {
    width: 93%;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    width: 98%;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    background-color: rgb(27, 141, 78);
    color: rgb(253, 253, 253);
    border: none;
    margin-bottom: 10px;
}

p {

    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.divider {
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}

